#film-review {
  flex-direction: column;
}
.reviews {
  display: flex;
  padding: 20px;
  margin: 20px;
  flex-direction: column;

}
.reviews p {
  line-height: 1.5em;
  text-align: justify;
}
.review-text p::first-letter {
  font-size: 200%;
}
.review1,
.review2 {
  display: flex;
  background-color: white;
  margin-top: 30px;
}
.review1 img,
.review2 img {
  width: 300px;
  padding-top: 20px;
}
.stars {
  padding: 20px;
}
.checked {
  color: orange;
}
.film-image-container {
  padding:20px;

}
