
/* mobile */
@media only screen and (max-width: 420px) {
  #header,
  #homepage-header {
    background-size: contain;
    height: 80px;
  }
  .tricia-carter-img img {
    width: 100%;
  }
figure.tanma-people {
  float: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  padding: 0;
  }
  figure.tanma-people img {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 699px) {
  .featured-full-article-container,
  .article-container,
  .chair-chat {
    height: 145px;
  }
  .footer-nav,
  .customer-logos {
    max-width: 60%;
  }

/* chair chat */
.chair-chat-hero {
  float: none;
}
.chair-chat-hero img {
  display: block;
}
#mission-statement {
  float: none;
  display: block;

}
figure.tanma-people {
  float: none;
}
figure.tanma-stall img {
  width: 100%;
}
#woods-walk-img-tree,
#woods-walk-img-towers {
  float: none;
  display: block;
  text-align: center;
  width:90%;
}
.header-contact-container{
  flex-direction: column;
  padding: 10px;
}
.main {
  padding: 0px;
}

}
@media only screen and (min-width: 320px) and (max-width: 1250px) {
  #pasta-making-article-container {
    display: block;
    width:100%;
  }
  #pasta-landscape {
    max-width: 300px;
  }
}


/* 5 minutes peace */
@media only screen and (min-width: 320px) and (max-width: 1200px) {
.peace-img-container img {
  width: 95%;
  display: block;
  text-align: center;
}
.peace-img-container {
  display: block;
}
.peace-section-2 {
  display: block;
}

#peace-meme {
  float: none;
  display: block;
  margin: 0 auto;
}

#image-4 ,
#cable {
  width: 100%;
}
#peace-text-para1 {
  margin-top: 20px;
}
.passwords-article {
  padding: 0px;
}
.tricia-carter-img {
  float:none;
  display: block;
  text-align: center;
}
.learning-quote {
  width: 90%;
  height: auto;
  padding-left: 5%;
}
#mission-statement {
  float: none;
  display: block;
  width: 250px;
  height: 250px;
}

.herstories {
  display: block;
  width: 90%;
}
.tanma-skills {
  margin-right: 20px;
}

.tanma-product-grid {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.affiliate-card {
  display: block;
}
#wood-walk-hero {
  width: 100%;
}

#woods-walk-img-start {
  margin: 0;
}
#woods-walk-img-tree {
  margin-bottom: 20px;
}
#woods-walk-img-towers {
  margin-top: 20px;
  margin-bottom:20px;
}

.school-img-gallery-container  {
  width: 100%;
}
.school-img-gallery-container img {
  width:45%;
}
}
@media only screen and (min-width: 450px) and (max-width: 769px) {
  .article-img-container,
  .featured-full-article-image-container {
    width: 200px;
}
}
@media only screen and (min-width: 421px) and (max-width: 700px) {
  #header,
  #homepage-header {
    height: 135px;
  }
  footer {
    flex-direction: column;
  }
.customer-logos {
  width: 100%;
  margin-top: 20px;
  max-width: 300px;
}
}
@media only screen and (max-width: 450px) {
  .article-img-container,
  .featured-full-article-image-container {
  width: 150px;
}
#peace-meme {
  float: none;
  display: block;
  margin: 0 auto;
}

}

@media only screen and (max-width: 769px) {
.wrapper {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.abwm-house-images {
  display: block;
  width: 100%;
}
#house-image img {
  width:100%;
}
#tablet-main-article {
  display: none;
}
#tablet-chair-chat {
  display: none;
}
.bronze-ad-container {
  display: none;
}
#bronze-ad-container-chair-chat {
  display: none;
}

.top-advert {
  display: none;
}
.top-advert img {
 display: none;
}
.mobile-advert {
  width: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#plat-mobile-advert {
  width:100%;
  margin: 0;
}
.mobile-advert img {
  width: 100%;
}
nav.breadCrumb-nav {
  display: none;
}
.article-container-main {
  display: block;
  margin: 0 auto;
}
.featured-full-article-container,
.article-container,
.chair-chat{
  display: flex;
  flex-basis: 100%;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  border-top: none;
  padding: 15px 5px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top:10px;
}
.article-link {

}
.article-img-container,
.featured-full-article-image-container {

  object-fit: cover;
  overflow: hidden;
  height: auto;
  padding-right: 5px;

}
.article-img-container img,
.featured-full-article-image-container img {
  height: auto;
}

.featured-full-article-text-container,
.article-text-container {
    position: static;
    bottom: 0px;
    height: 30px;
    flex-basis: 66%;
    padding-top: 0px;
}

.chair-chat
 {
  display: none;
}
.featured-full-article-text-container h1,
.article-text-container h3
 {
font-size: 0.8em;
text-align: left;
margin-bottom: 5px;
padding-left:10px;
}
.featured-full-article-text-container p,
.article-text-container p {
  font-size: 0.8em;
  padding-left: 10px;
}
.featured-full-article-image-container img:hover,
.article-img-container img:hover {
  -moz-transform: none;
   -webkit-transform: none;
   transform: none;
}

.mobile-sponsor-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin: 0 auto 20px auto;
  flex-wrap: none;
  padding: 10px;
  flex-direction: column;
  border: 1px solid silver;

}
.sponsor-banner {
  display: none;
}
#alicesmithlogo_sponsor {
  display: none;
}

#mobile-chair-chat-image {
  height: 100px;
}
 h4 {
  font-size: 0.65em;
  text-align: left;
}

.adverts {
  display: none;
}
.header-contact-container{
  flex-direction: column;

}
.header-contact {
  padding: 10px;
}

}


/* -------------------------- */
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .footer-buttons {
    display: flex;
    flex-direction: column;
  }

  .footer-nav,
  .customer-logos {
    max-width: 30%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 899px) {

  #plat-mobile-advert {
    display: none;
  }
  .mobile-advert,
  .mobile-sponsor-banner {
    display: none;
  }
  #mobile-chair-chat {
    display: none;
  }
.article-container {
  flex-basis: 95%;
}

}

@media only screen and (min-width: 901px) and (max-width: 1154px){

  #tablet-chair-chat {
    display: none;
  }
.featured-full-article-container,
.article-container {
  flex-basis: 45%;
  border-left: 10px solid #f2f2f2;

}

.featured-full-article-image-container,
.article-img-container {
  max-height: 200px;
  object-fit: cover;
  overflow: hidden;
}
.article-img-container img {
  width: 100%;
  transition: all 0.7s;
}
#tablet-chair-chat-img {
  display: block;
  text-align: center;
  max-height: 120px;
  width: auto;
  padding-top: 0px;
}
.article-text-container,
.featured-full-article-text-container {
  height: 160px;
  padding-top: 10px;
}
.featured-full-article-text-container h1 {
  font-size: 1.2em;
}
}

@media only screen and (min-width: 701px) and (max-width: 1154px){
  #header,
  #homepage-header {
    background-size: contain;
    height: 215px;
  }
}
@media only screen and (min-width: 900px) {

.mobile-advert {
  display: none;
}
#mobile-chair-chat {
  display: none;
}
.mobile-sponsor-banner {
  display: none
}
#tablet-main-article {
  display: none;
}
}
@media only screen and (max-width: 900px) {
footer {
  display: block;
}
.grid-article {
  display: block;
}
.grid-hero {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.slick-slide img {

}

.article-img-container img,
.featured-full-article-image-container img {
  height: auto;
}

.website-promo h2:hover {
  font-size: 2.5em;
}
.footer-nav {
  text-align: center;

}
.website-promo,
.facebook {
  display: block;
  text-align: center;
  max-width: 50%;
}
.customer-logos {
  width: auto;
  padding-top:20px;
}
.chair-chat h3
 {
  margin-bottom: 5px;
  margin-top:5px;
  bottom: 90px;
  font: 400 18px/1 'Kaushan Script', cursive;
  font-size: 18px;
}
}



@media only screen and (min-width: 1400px) {
  html,
  body {
    max-width: 1400px;
  }
  #header,
  #homepage-header {
    background-size: contain;
    height: 280px;
  }
}
