.feature-title {
  flex-direction: column;

}
.feature-title > h1 {
  padding-top: 70px;
  text-align: center;
}

/* film review styles */

.review {
  display: flex;
  padding: 20px;
  margin: 20px;
  background-color: white;


}
.reviews{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.block {
  display: block;
  padding-top: 10px;
}




.review img
 {
  width: 300px;
  padding-top: 20px;
}
.stars {
  padding: 20px;
}
.checked {
  color: orange;
}
.film-image-container {
  padding:20px;

}
#film-review-sponsor {
  margin-top: 50px;
}
#film-review-advert {
  margin: 20px auto 20px auto;
}
/* styles for mobile screens */


/*styles for tablet screens */

@media only screen and (max-width: 970px) {
  .film-image-container img {
  max-width: 200px;
  }
  .review {
    flex-direction: column;
  }
}

/* school news styles */
.school {
  background-color: white;
  margin: 20px;
  padding: 20px;
}
.school-img {
  padding: 20px 0px 20px 20px;
  float: right;
}
.school-logo {
  max-width: 400px;
}
 figcaption  {
  font-size: 0.75em;
  font-style: italic;
  max-width: 450px;
  float: right;
  padding-left: 20px;
}
.school-title > h2 {
  padding:20px;
  padding-left:50px;
}
.school-title > img {
  padding-left: 30px;
}
.school-img {
  max-width: 450px;
}
/* mobile styles */

@media only screen and (max-width: 700px) {
  .breadCrumbs {
    display: none;
  }
  .school-logo {
    max-width: 350px;
  }
  .school-img {
    max-width: 350px;
    float: none;
  }
  .school {
    margin: 20px 0px;
    padding: 0px;
  }
  .feature-title {
    margin-bottom: 20px;
  }
  figcaption {
    margin-bottom: 20px;
    float: none;
  }
  }
