header {
  border: 2px solid black;

}
.topbar {
  border: 2px solid blue;
}
.maintop {
  border: 2px solid red;
}
.sponsors {
  border: 2px solid green;
}
.logo {
  border: 2px solid yellow;
}
body {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 0.8fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "main main sidebar"
    "footer footer footer"
}
