*,
html {
  box-sizing: border-box;
}

h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.2em;
  color: #303133;
  font-weight: 400px;
}

h3 {
  text-align: center;

}

 p {
   font-size: 0.8em;
   line-height: 1.2em;
   text-align: justify;
   padding: 0px 20px;
 }
 li {
     list-style: none;
     padding-bottom: 10px;
     color: black;
     margin: 0 auto;
     font-size: 1.2em;
   }
   ul:first-child {
     padding-top: 30px;
   }
   a {
     text-decoration: none;
     color: black;
   }
  a:hover {
    color: blue;
  }
   .read-more {
     color: red;
   }
body {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 0.8fr;
  grid-template-rows: auto;
  grid-template-areas:
    "top-ad top-ad top-ad"
    "header header header"
    "main main sidebar"
    "footer footer footer";
  max-width: 1366px;
  font-family: Helvetica ,sans-serif;
  -moz-osx-font-smoothing: grayscale;


}
/* header styles*/

header {
  grid-area: header;
  width: 100%;
  height: 150px;
  border-bottom: 1.5px solid rgb(77, 77, 77, 0.2);
  border-top: 1.5px solid rgb(77, 77, 77, 0.2);
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 10;


}
 .top-advert {
  grid-area: top-ad;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -20;

 }
.top-advert img {
  height: 300px;
  width: 720px;
  text-align: center;



}
.topbar {

}

i.fa.fa-facebook-square,
i.fa.fa-twitter-square
 {
  color: #012169;
  padding: 0 10px;
  font-size: 1.5em;
  float: right;
}

.maintop {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: column;
}

.top-sponsor-left {
  display: flex;

}
.top-sponsor-right {
text-align: center;

}
.top-sponsor-right img {
  padding-top: 40px;
}
.top-sponsor-right,
.top-sponsor-left {
  width: 30%;
  margin-top: 0px;
  margin-left: 50px;

}
.top-sponsor-right h5,
.top-sponsor-left h5 {
  margin: 0 0 20px 0;

}
  .maintop h1 {
    margin-bottom: 0;
    margin-top: 0;
    color: #012169;
    font-size: 3em;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    text-align: center;

  }
  .maintop h3 {
    color: #012169;
    font-size: 1.25em;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 0;
    line-height: 1em;
    letter-spacing: 3px;

  }


/*featured content area styles */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  background-color: #f2f2f2;
  padding-top: 30px;
}

.featured-full-article-container {
  grid-column: 1 / 13;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  position: relative;
  background-color: white;
  margin-bottom:30px;
  margin: 0 auto 30px auto;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}
.featured-full-article-container:hover{
  opacity: 0.7;
}
.featured-full-article-container:active{
  box-shadow: 1px 1px 1px #777;
  -webkit-box-shadow: 1px 1px 1px #777;
  -moz-box-shadow: 1px 1px 1px #777;
}

.featured-full-article-text-container {
  background-color: white;
  text-align: center;
  padding-bottom: 10px;
  text-align: center;
}

.featured-full-article-image-container {
  height: 350px;
  object-fit: cover;
  overflow: hidden;
}
.featured-full-article-image-container img {
  width: 100%;
}

/* featured half article containers */

.featured-half-article-container {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  display: flex;
  max-width:800px;
  align-content: space-between;
  margin: 0 auto;
}
.featured-half-article-container-left
 {
  grid-column: 2 / 7 ;
  margin-right: 20px;


}

.featured-half-article-container-right
 {
  grid-column: 8 / 13 ;

}
.featured-half-article-container-left,
.featured-half-article-container-right
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    margin-bottom:30px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    grid-row: 2 / 3;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;

}
  }

  .featured-half-article-image-container,
  .featured-half-article-image-container {

    width: 400px;
    object-fit: cover;
    overflow: hidden;
}

  .featured-half-article-container-left img,
  .featured-half-article-container-right img {

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  max-width: 400px;

}
  .featured-half-article-text-container {
  text-align: center;
}

/* standard article section */

.standard-article-container-main {
  grid-column: 1 / 13;
  grid-row: 3/  4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.standard-article-container {


  width: 30%;
  align-items: center;
  position: relative;
  background-color: white;
  margin-bottom:30px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  grid-row: 3 / 4;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;

}
.standard-article-img-container {
  height: 150px;
  object-fit: cover;
  overflow: hidden;


}

/*regular features */

.regular-features-article-container-main {
  grid-column: 1 / 13;
  grid-row: 7/  8;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.regular-features-article-container {
  width: 22%;
  position: relative;
  background-color: white;
  margin-bottom:30px;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
}

.regular-features-img-container {
  height: 155px;
  object-fit: cover;
  overflow: hidden;

}
.regular-features-img-container img,
.standard-article-img-container img{
  width: 100%;
}
.regular-title {
  grid-column: 1 / 13;
  grid-row: 6 / 7;
}
#regular {
  text-align: center;
}

/*advertorial */

.advertorial-main {
  grid-column: 1 / 9;
  grid-row: 8 / 9;
  display: flex;
  background-color: cadetblue;
  color: white;

}

.advertorial-img-container2 {
  width: 30%;
  object-fit: contain;

}
.advertorial-img-container2 img {
  width: 100%;
  height: 120px;
  padding: 10px;
}
.advertorial-text-container2 {
  width: 70%;
  text-align: center;
}
#advertorial-text {
  font-size: 1.1em;
  font-family: 'Open-sans';
  padding-top: 20px;
}
.silver-advert-vertical-rectangle {
  grid-row: 8 / 12;
  grid-column: 10 / 12;
  padding-right: 30px;
}
.bronze-adverts {
  grid-row: 9 / 11;
  grid-column: 1 / 7;
  display: flex;
  width: 600px;
  margin-top: 30px;
  margin-left: 20px;

  justify-content: space-between;

}


/*sidebar styles*/

.sidebar {
  grid-area: sidebar;
  display:flex;
  flex-direction: column;
  padding-top: 30px;
  background-color: white;
}

.chair-chat {
  position: relative;
  width: 220px;
  margin: 0 auto 30px auto;

}

.chair-chat img {
  border: 20px solid #fff;
  border-bottom: 120px solid #fff;

  box-shadow: 0px 0px 0px 20px #777;


}

.chair-chat h3
 {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 70px;
  font: 400 22px/1 'Kaushan Script', cursive;

/*  <-webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg); */
}
#chair-text {
  position: absolute;
  text-align: left;
  width: 100%;
  bottom: 0px;
  color: #303133;

  padding-left: 10px;
}
.adverts {

  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.large-rectangle-adverts {
  height: 250px;
  margin: 0 auto;
  display: flex;


}
#ad1,
#ad3 {
  width: 300px;
  height: 600px;
  background-color: lightpink;
  margin: 0px auto;
}
/*
.advertorial {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.advertorial-img-container {
  margin: 0 auto;
}
.advertorial-img-container img {
  max-width: 250px;
}
*/
/*footer styles*/

footer {
  grid-area: footer;
  display: flex;
  align-content: space-between;

  padding: 20px 0;




}
 .website-promo,
 .sponsor-carousel,
 .footer-nav {
   align-items: center;
   flex-basis: 33%;
   display: flex;
   justify-content: space-around;
   }
    .website-promo {

    }
/* main article stylesheet */
.main-article-image-1 {
  width: 100%;
  
}
