header {
  border: 2px solid black;

}
.topbar {
  border: 2px solid blue;
}
.maintop {
  border: 2px solid red;
}
.sponsors {
  border: 2px solid green;
}
.logo {
  border: 2px solid yellow;
}
body {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 0.8fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "main main sidebar"
    "footer footer footer"
}
/* header styles*/

header {
  grid-area: header;
}

.main-content-container {
  grid-area: main;
}
/*featured content area styles */

.featured-content-container {
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  }

/*sidebar styles*/

.sidebar {
  grid-area: sidebar;
}


/*footer styles*/

footer {
  grid-area: footer;
}
