header {
  border: 2px solid black;

}
.topbar {
  border: 2px solid blue;
}
.maintop {
  border: 2px solid red;
}
.sponsors {
  border: 2px solid green;
}
.logo {
  border: 2px solid yellow;
}
 p {
   font-size: 0.8em;
 }
body {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr 0.8fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas:
    "header header header"
    "main main sidebar"
    "footer footer footer";
  max-width: 1366px;
  font-family: helvetica, sans-serif;
}
/* header styles*/

header {
  grid-area: header;
}

.topbar {
  background-color: blue;
  height: 20px;
}

.maintop {
  display: inline-flex;
  height: 50px;
  background-color: white;
  width: 100%;
}

.logo {
  width: 60%;
  background-color: yellow;
  height: 40px;
}
.sponsors {
  width: 40%;
  background-color: green;
  height: 40px;
}
/*featured content area styles */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.featured-full-article-container {
  grid-column: 2 / 13;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-full-article-text-container {
  margin: 0 auto;

}

.featured-full-article-img-container {

}

.featured-half-article-container-left
 {
  grid-column: 2 / 7 ;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-half-article-container-right
 {
  grid-column: 8 / 13 ;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horizontal-article-container {
  align-items: center;
  display: flex;
}

#first {
  grid-column: 2 / 13;
  grid-row: 3 / 4;

}

#second {
  grid-column: 2 / 13;
  grid-row: 4 / 5;
}

#third {
  grid-column: 2 / 13;
  grid-row: 5 / 6;
}

.horizonal-article-img-container {
  width: 25%;
  height: auto;
  flex-shrink: 0;
}
.horizonal-article-img-container img {
  width: 100%;
  height: auto;
}
.horizontal-article-text-container {
  width: 75%;
  margin: 20px 10px 20px 30px;
}

/*regular features */

.regular-features-article-container-main {
  grid-column: 2 / 13;
  grid-row: 7/  8;
  display: flex;
  justify-content: space-between;

}
.regular-features-article-container {
  width: 30%;
}

.regular-features-img-container {
  height: 155px;
  object-fit: cover;
  overflow: hidden;
}
.regular-features-img-container img {
  width: 100%;
}
.regular-title {
  grid-column: 2 / 13;
  grid-row: 6 / 7;
}
#regular {
  text-align: center;
}
/*sidebar styles*/

.sidebar {
  grid-area: sidebar;
  display:flex;
  flex-direction: column;

}

.chair-chat {
  display: flex;
  background-color: lightblue;

}
.chair-img-container {
  padding: 10px;
}


/*footer styles*/

footer {
  grid-area: footer;
}
